

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background: rgba(58, 58, 58, 0.171);
  // color: #b0b4bc;
  padding: 15px;
  border-radius:10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #F9A470;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.music {
  font-size: large;
}

.music button:hover {
  color: #D35D6E;
}

.work button:hover {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.05, 0.9, 0.1, 1.05);
  transition-duration: 1s;
  border: #000000;
  color: #D35D6E;
  border-radius: 50%;
}
